/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

main {
    height: 100vh;
    background-image: url("./images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    /*centrar el contenido verticalmente y horizontalmente*/
    display: flex;
    align-items: center;
    justify-content: center;
}

section:first-child {
    color: #ffffff;
}

section:first-child > h1 {
    font-size: 42px;
    width: 20ch;
}

section:first-child > p {
    width: 50ch;
    margin-top: 30px;
}

.btn {
    color: white;
    text-align: center;
    text-decoration: none; /* esta propiedad remueve el subrayado del a */
    padding: 12px 12px;
    border-radius: 8px;
    border: none;
    display: block;
}

section:last-child > form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 35px;
    border-radius: 8px;
}

section:last-child > a:first-child {
    background: hsl(248, 32%, 49%);
    box-shadow: 0px 5px 5px 0px rgba(96,85,165,0.5);
}

section:last-child > form > button {
    background: hsla(154, 59%, 51%, 0.79);
    text-transform: uppercase; /* transforma el texto a mayuscula */
    font-size: 15px;
    font-weight: 900;
    /* font-weight: bold; */ /* cambia el peso de la fuenta a negrita bold = negrita */
    border-bottom: red;
    border-bottom: solid 3px rgba(0, 128, 0, 0.5);
}

section:last-child > form > p {
    color: hsla(249, 10%, 26%, 0.62);
    font-size: 10px;
}

section:last-child > form > p > a{
    color: red;
}

input {
    padding: 18px;
    border-radius: 6px;
    border: solid 1px hsl(249, 10%, 26%);
}
